*{
    margin: 0;
}
/* header area start */
.header-section{
    background-image: url(./images/banner/banner3.png);
    height:700px; 
}
.bannar-containt{
    text-align: right;
    padding: 200px 100px 200px 600px;
}
.bannar-title{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
.bannar-summary{
    font-weight: 400;
     font-size: 16px;
     color: #FFFFFF;
     margin-top:15px;
}
.btn-primary{
    padding: 10px;
    margin-top: 10px;
    width: 140px;
    height: 50px;
    color: #005FAC;
}

/* project area start */
.project-title{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin: 50px;
    color: #62b2f4;
}
.project-list{
    display: flex;
    text-align: center;
    margin: 10px 10px;
}
.project-list h2{
    margin-top: 40px;
    font-weight: 300px;
    font-size: 20px;
    color: indianred;
}
.project-list p{
    padding: 10px;
    margin: 5px;
    font-weight: 200px;
}
.first-project{
    background-color: #62b2f4;
    height: 300px;
    border-radius: 5px;
}
.second-project{
    background-color: paleturquoise;
    height: 300px;
    border-radius: 5px;
    margin-left: 5px;
}
.third-project{
    background-color: rgb(16, 163, 163);
    height: 300px;
    border-radius: 5px;
    margin-left: 5px;
}
.forth-project{
    background-color: rgb(8, 195, 195);
    height: 300px;
    border-radius: 5px;
    margin-left: 5px;
}

/* failires area start */
.My-previous-year{
    display: flex;
    margin: 130px 150px;
}
.failures-containt{
   margin-top: 250px;
   margin-left: 100px;
}
.failures-title{
    font-weight: 600;
    font-size: 40px;
    color: #151414;
}
.failures-dis{
    font-weight: 300;
    font-size: 16px;
    color: #151414;
    margin-top: 20px;
}

/* plans area start */
.plans-title{
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}
.palans-items{
    display: flex;
    text-align: center;
    margin: 50px 200px;
    justify-content: space-around;
}
.palans-items h3{
    font-weight: 600;
    font-size:20px;
    margin: 5px;
}
.palans-items p{
    font-weight: 300;
     font-size: 20px;
     color: #737272;
}
/* posative area start */
.gried{
    background-image: url(/images/watch.png);
    position: relative;
    margin: 100px 200px;
     display: flex; 
    height: 200px;
    border-radius: 8px;
    color: #f7fbf5;
}
.mind-title{
    margin: 50px 25px;
    color: #f7fbf5;
}
.color-overlay{
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: .6;
}
.possitive-title{
    font-weight: 600;
    font-size:30px;
}

/* footer area start */
.footer-area{
    display: flex;
    color: white;
    background-color: #151414;
}
.future-title{
    font-weight: 600;
    font-size:30px;
    margin-bottom: 10px;
}
.future-dis{
    font-weight: 400;
    font-size: 16px;
}
.future-area{
    margin: 120px 200px; 
}
.sub-title{
    font-weight: 400;
     font-size: 25px;
     margin-bottom: 10px;
}
a{
    margin-left: 10px;
}
.subscrib-area{
    margin: 120px 200px;
}